flows.json
[{"id":"fc95cb5bce36b668","type":"tab","label":"HFPM DASHBAORD","disabled":false,"info":""},{"id":"37478e9cf5a04330","type":"debug","z":"fc95cb5bce36b668","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":130,"y":320,"wires":[]},{"id":"86e998d8ba162687","type":"function","z":"fc95cb5bce36b668","name":"pre-token","func":"global.set(\"hb\",msg.payload.hb)\nglobal.set(\"ppd\",msg.payload.ppd)\nglobal.set(\"ch\",msg.payload.ch)\nglobal.set(\"bm\",msg.payload.bm)\nglobal.set(\"ag\",msg.payload.ag)\nglobal.set(\"s\",msg.payload.s)\nglobal.set(\"fh\",msg.payload.fh)\nglobal.set(\"sm\",msg.payload.sm)\nglobal.set(\"em\",msg.payload.em)\nvar apikey=\"Tp9iG88Kh3-mER-zbKPjx2BXD7EXUE-wBxqjUp7FvT0S\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":140,"y":160,"wires":[["cc904343ded8da73"]]},{"id":"cc904343ded8da73","type":"http request","z":"fc95cb5bce36b668","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":290,"y":160,"wires":[["0d589f9c3554d7e8","f7e24b9416034928"]]},{"id":"0d589f9c3554d7e8","type":"debug","z":"fc95cb5bce36b668","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":220,"wires":[]},{"id":"f7e24b9416034928","type":"function","z":"fc95cb5bce36b668","name":"Pre Prediction","func":"var hb = global.get(\"hb\")\nvar ppd = global.get(\"ppd\")\nvar ch = global.get(\"ch\")\nvar bm = global.get(\"bm\")\nvar ag = global.get(\"ag\")\nvar s = global.get(\"s\")\nvar fh = global.get(\"fh\")\nvar sm = global.get(\"sm\")\nvar em = global.get(\"em\")\n\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\":[\"AVGHEARTBEATSPERMIN\",\"PALPITATIONSPERDAY\",\"CHOLESTEROL\",\n                \"BMI\",\"AGE\",\"SEX\",\"FAMILYHISTORY\",\"SMOKERLAST5YRS\",\"EXERCISEMINPERWEEK\"],\n                \"values\":[[hb,ppd,ch,bm,ag,s,fh,sm,em]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":100,"wires":[["9aa2a72b684a0fd2"]]},{"id":"c043198c23a51142","type":"debug","z":"fc95cb5bce36b668","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":160,"wires":[]},{"id":"48f287b14859a48a","type":"inject","z":"fc95cb5bce36b668","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":80,"wires":[["86e998d8ba162687"]]},{"id":"abc3dde628730fd4","type":"debug","z":"fc95cb5bce36b668","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":40,"wires":[]},{"id":"efb9eb12e4a08cce","type":"function","z":"fc95cb5bce36b668","name":"Parsing","func":"if (msg.payload.predictions[0].values[0][0] == 'N')\n    {\n        msg.probablity = msg.payload.predictions[0].values[0][1][0];\n        msg.payload = \"Not at Risk\";\n    }\nelse \n    {\n        msg.probability = msg.payload.predictions[0].values[0][1][1];\n        msg.payload = \"At Risk\";\n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":80,"wires":[["abc3dde628730fd4","789fe68f2a67b926"]]},{"id":"789fe68f2a67b926","type":"ui_text","z":"fc95cb5bce36b668","group":"cd7a498b567da26b","order":4,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","className":"","x":860,"y":100,"wires":[]},{"id":"59e84615439a1590","type":"ui_form","z":"fc95cb5bce36b668","name":"","label":"","group":"cd7a498b567da26b","order":2,"width":0,"height":0,"options":[{"label":"AVERAGE HEART BEATS ( Per Minute )","value":"hb","type":"number","required":true,"rows":null},{"label":" PALPITATIONS PER DAY","value":"ppd","type":"number","required":true,"rows":null},{"label":"CHOLESTEROL","value":"ch","type":"number","required":true,"rows":null},{"label":"BMI","value":"bm","type":"number","required":true,"rows":null},{"label":"AGE","value":"ag","type":"number","required":true,"rows":null},{"label":"SEX (M or F)","value":"s","type":"text","required":true,"rows":null},{"label":"FAMILY HISTORY (Y or N)","value":"fh","type":"text","required":true,"rows":null},{"label":"SMOKER ( In Last 5 Years : Y or N )","value":"sm","type":"text","required":true,"rows":null},{"label":"EXERCISE ( Minutes Per Week )","value":"em","type":"number","required":true,"rows":null}],"formValue":{"hb":"","ppd":"","ch":"","bm":"","ag":"","s":"","fh":"","sm":"","em":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"","topicType":"str","splitLayout":false,"className":"","x":110,"y":240,"wires":[["37478e9cf5a04330","86e998d8ba162687"]]},{"id":"9f05df38dfb22b70","type":"ui_text","z":"fc95cb5bce36b668","group":"cd7a498b567da26b","order":3,"width":0,"height":0,"name":"","label":"Score","format":"{{msg.payload}}","layout":"row-spread","className":"","x":870,"y":320,"wires":[]},{"id":"d82611e990d8acb1","type":"debug","z":"fc95cb5bce36b668","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":240,"wires":[]},{"id":"6ca8bb03058c25e8","type":"function","z":"fc95cb5bce36b668","name":"","func":"if (msg.payload.predictions[0].values[0][0] == 'N')\n    {\n        msg.payload = msg.payload.predictions[0].values[0][1][0];\n       \n    }\nelse \n    {\n        msg.payload = msg.payload.predictions[0].values[0][1][1];\n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":260,"wires":[["d82611e990d8acb1","9f05df38dfb22b70"]]},{"id":"9aa2a72b684a0fd2","type":"http request","z":"fc95cb5bce36b668","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/27a19e2c-48da-4341-822c-e5b9797b3273/predictions?version=2022-07-28","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":590,"y":160,"wires":[["c043198c23a51142","efb9eb12e4a08cce","6ca8bb03058c25e8"]]},{"id":"cd7a498b567da26b","type":"ui_group","name":"Enter the values","tab":"576bbad419c5b588","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"576bbad419c5b588","type":"ui_tab","name":"Effective Heart Disease Prediction Using IBM Auto AI Service by VINOD KUMAR MOGADALA","icon":"dashboard","disabled":false,"hidden":false}]